.burger {
  z-index: 2;

  display: grid;
  row-gap: 3px;
  grid-auto-rows: min-content;
  width: 25px;

  &__item {
    width: 18px;
    height: 2px;

    background-color: $headers-color;
  }

  @media (max-width: 1280px) {
    position: absolute;
    top: 45px;
    left: 37px;
  }

  @media (max-width: 640px) {
    position: absolute;
    top: 33px;
    left: 23px;
  }
}
