.burger {
  z-index: 2;
  position: relative;

  width: 18px;
  height: 12px;
  transform: rotate(0deg);
  transition: $transition-time ease-in-out;
  cursor: pointer;

  &__item {
    display: block;
    position: absolute;
    left: 0;

    height: 2px;
    width: 100%;
    border-radius: 2px;
    opacity: 1;

    transform: rotate(0deg);
    transition: 0.25s ease-in-out;

    background-color: $headers-color;
  }

  &__item:nth-child(1) {
    top: 0;
  }

  &__item:nth-child(2) {
    top: 6px;
  }

  &__item:nth-child(3) {
    top: 12px;
  }

  @media (max-width: 700px) {
    position: absolute;
    top: 33px;
    left: 23px;
  }
}

.burger_active {
  span:nth-child(1) {
    top: 6px;
    transform: rotate(135deg);
  }

  span:nth-child(2) {
    opacity: 0;
    left: -100%;
  }

  span:nth-child(3) {
    top: 6px;
    transform: rotate(-135deg);
  }
}
