.content-container {
  @media (min-width: 1281px) {
    min-width: $content-container-width;
    padding: 0 10vh;
  }

  @media (max-width: 1280px) {
    padding: 0 55px;
  }

  @media (max-width: 768px) {
    padding: 0 37px;
  }
}
