.section {
  margin-top: 100px;

  @media (max-width: 768px) {
    margin-top: $section-margin-top;
  }

  @media (max-width: 640px) {
    margin-top: $section-margin-top - 20px;
  }

  &__heading {
    display: block;
    margin-bottom: $section-heading-margin-bottom;

    font-size: 48px;
    font-family: "Montserrat-Bold.ttf", sans-serif;
    line-height: 100%;
    color: $headers-color;

    @media (max-width: 768px) {
      margin-bottom: $section-heading-margin-bottom - 10px;

      text-align: center;
    }

    @media (max-width: 640px) {
      margin-bottom: $section-heading-margin-bottom  - 20px;

      font-size: 36px;
    }
  }
}
