%h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

%heading {
  font-family: "IBMPlexSans-Medium.ttf", sans-serif;
  font-style: normal;
  font-size: $middle-font;
  line-height: 100%;
  color: $support-color;
}

%caption {
  font-family: "Montserrat-Regular.ttf", sans-serif;
  font-size: 36px;
  margin-bottom: 15px;
  line-height: 100%;

  @media (max-width: 640px) {
    margin-bottom: 10px;
    font-size: 28px;
  }
}

%arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;

  font-family: inherit;
  font-size: $main-font;
  font-weight: 300;
  color: $body-color;
  background-color: $highlight-color;

  transition: all $transition-time linear;
  cursor: pointer;
}
